.card{
    background: #302034;
    width: 600px;
    height: 160px;
    border-left: 2px solid #E03054;
    display: flex;
    align-items: center;
    .content{
        width: 92%;
        margin: 0 auto;
        height: 100%;
        max-height: 104px;
        background-color: transparent;
        display: flex;
        img{
            background-color: transparent;
        }
        .texts{
            background-color: transparent;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-left: 24px;
            .name{
                background-color: transparent;
                font-family: 'Oxanium';
                font-weight: 600;
                font-size: 32px;
                color: #F5FBF2;
            }
            .price{
                background-color: transparent;
                font-family: 'Work Sans';
                font-weight: 500;
                font-size: 24px;
                color: #BDAAC1;
            }
        }
    }
}