.card{
    background: #302034;
    width: 600px;
    height: 160px;
    border-left: 2px solid #E03054;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    @media (max-width:1400px) {
        width: 430px;
        height: 125px;
    }
    @media (max-width:1000px) {
        width: 343px;
        height: 100px;
    }
    .content{
        width: 92%;
        margin: 0 auto;
        height: 100%;
        max-height: 104px;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        @media (max-width:1400px) {
            height: 80px;
        }
        @media (max-width:1000px) {
            height: 70px;
        }
        .left{
            display: flex;
            background-color: transparent;
            img{
                background-color: transparent;
            }
            .texts{
                background-color: transparent;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                margin-left: 24px;
                .name{
                    background-color: transparent;
                    font-family: 'Oxanium';
                    font-weight: 600;
                    font-size: 32px;
                    color: #F5FBF2;
                    @media (max-width:1400px) {
                        font-size: 24px;
                    }
                    @media (max-width:1000px) {
                        font-size: 20px;
                    }
                }
                .price{
                    background-color: transparent;
                    font-family: 'Work Sans';
                    font-weight: 500;
                    font-size: 24px;
                    color: #BDAAC1;
                    @media (max-width:1400px) {
                        font-size: 20px;
                    }
                    @media (max-width:1000px) {
                        font-size: 14px;
                    }
                }
            }
        }
        .items{
            background-color: transparent;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-left: 3px solid #49374E;
            padding: 0 45px;
            @media (max-width:1400px) {
                padding: 0 20px;
            }
            .value{
                font-family: 'Oxanium';
                font-weight: 700;
                font-size: 32px;
                background-color: transparent;
                color: white;
                @media (max-width:1000px) {
                    font-size: 24px;
                }
            }
            .name{
                font-family: 'Work Sans';
                font-weight: 500;
                font-size: 24px;
                color: #908294;
                background-color: transparent;
                @media (max-width:1000px) {
                    font-size: 16px;
                }
            }
        }
    }
}