.live{
    width: 1600px;
    background: transparent;
    margin: 0 auto;
    @media (max-width:1500px) {
        width: 90vw;
    }
    .arrow{
        display: flex;
        max-width: 1400px;
        margin: 0 auto;
        margin-bottom: 30px;
        display: flex;
        justify-content: flex-end;
        background-color: transparent;
        @media (max-width:700px) {
            display: none;
        }
        img{
            cursor: pointer;
            margin-left: 30px;
        }
    }
    .cards{
        display: flex;
        min-width: calc(100% + 4vw);
        margin: 0 auto;
        overflow: hidden;
        justify-content: center;
        @media (max-width:1500px) {
            justify-content: flex-start;
        }
        @media (max-width:700px) {
            flex-direction: column;
            min-width: 100%;
        }
    }
}