.work{
    width: 100vw;
    max-width: 1500px;
    margin: 0 auto;
    .boxs{
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        border-top: 2px dashed #794187;
    }
}