.work{
    width: 100vw;
    max-width: 1500px;
    margin: 0 auto;
    @media (max-width:1550px) {
        max-width: 90vw;
        display: flex;
        flex-direction: column;
        
    }
    .boxs{
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        border-top: 2px dashed #794187;
        @media (max-width:900px) {
            width: 90vw;
            flex-direction: column;
            border-top: none;
            border-left: 2px dashed #794187;
            position: relative;
            left: 45vw;
            height: 90vh;
        }
    }
}